<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="v1/little_finger/dh_parameters">

 <xacro:property name="LFJ1_Origin_X" value="0.0427072303336"/>
  <xacro:property name="LFJ1_Origin_Y" value="0.0352928446888"/>
  <xacro:property name="LFJ1_Origin_Z" value="${reflect * -0.007747}"/>

  <xacro:property name="LFJ1_Orientation_Roll" value="0.0"/>
  <xacro:property name="LFJ1_Orientation_Pitch" value="0.0"/>
  <xacro:property name="LFJ1_Orientation_Yaw" value="0.0"/>

  <xacro:property name="LFJ2_Origin_X" value="0"/>
  <xacro:property name="LFJ2_Origin_Y" value="-0.010287"/>
  <xacro:property name="LFJ2_Origin_Z" value="${reflect * -0.071327}"/>

  <xacro:property name="LFJ2_Orientation_Roll" value="0.0"/>
  <xacro:property name="LFJ2_Orientation_Pitch" value="0.0"/>
  <xacro:property name="LFJ2_Orientation_Yaw" value="0.0"/>

  <xacro:property name="LFJ3_Origin_X" value="0.0"/>
  <xacro:property name="LFJ3_Origin_Y" value="0.0"/>
  <xacro:property name="LFJ3_Origin_Z" value="0.0"/>

  <xacro:property name="LFJ3_Orientation_Roll" value="0.0"/>
  <xacro:property name="LFJ3_Orientation_Pitch" value="0.0"/>
  <xacro:property name="LFJ3_Orientation_Yaw" value="0.0"/>

  <xacro:property name="LFJ4_Origin_X" value="0.02286"/>
  <xacro:property name="LFJ4_Origin_Y" value="0"/>
  <xacro:property name="LFJ4_Origin_Z" value="0"/>

  <xacro:property name="LFJ4_Orientation_Roll" value="0.0"/>
  <xacro:property name="LFJ4_Orientation_Pitch" value="0.0"/>
  <xacro:property name="LFJ4_Orientation_Yaw" value="0.0"/>

</robot>