<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="v1/little_finger">

  <xacro:include filename="$(find valkyrie_description)/robots/valkyrie_A/xacro/little_finger/joint_names.xacro"/>
  <xacro:include filename="$(find valkyrie_description)/robots/valkyrie_A/xacro/little_finger/actuator_names.xacro"/>
  <xacro:include filename="$(find valkyrie_description)/robots/valkyrie_A/xacro/little_finger/link_names.xacro"/>
  <xacro:include filename="$(find valkyrie_description)/robots/valkyrie_A/xacro/little_finger/joint_limits.xacro"/>
  <xacro:include filename="$(find valkyrie_description)/robots/valkyrie_A/xacro/little_finger/frame_parameters.xacro"/>
  <xacro:include filename="$(find valkyrie_description)/robots/valkyrie_A/xacro/little_finger/mass_parameters.xacro"/>

  <xacro:property name="LFJ1_Link_Width" value="0.010"/>
  <xacro:property name="LFJ1_Link_Height" value="0.010"/>
  <xacro:property name="LFJ1_Link_Length" value="0.010"/>

  <xacro:property name="LFJ1_Link_Origin_X" value="0"/>
  <xacro:property name="LFJ1_Link_Origin_Y" value="0"/>
  <xacro:property name="LFJ1_Link_Origin_Z" value="0"/>


  <xacro:property name="LFJ2_Link_Width" value="0.019"/>
  <xacro:property name="LFJ2_Link_Height" value="0.054"/>
  <xacro:property name="LFJ2_Link_Length" value="0.026"/>

  <xacro:property name="LFJ2_Link_Origin_X" value="0"/>
  <xacro:property name="LFJ2_Link_Origin_Y" value="${reflect * 0.017}"/>
  <xacro:property name="LFJ2_Link_Origin_Z" value="${reflect * 0.050169}"/>


  <xacro:property name="LFJ3_Link_Width" value="0.034"/>
  <xacro:property name="LFJ3_Link_Height" value="0.013"/>
  <xacro:property name="LFJ3_Link_Length" value="0.022"/>

  <xacro:property name="LFJ3_Link_Origin_X" value="0.011"/>
  <xacro:property name="LFJ3_Link_Origin_Y" value="0"/>
  <xacro:property name="LFJ3_Link_Origin_Z" value="0"/>

  <xacro:macro name="make_little_finger" params="prefix reflect little_finger_root_link">

    <xacro:box_link name="${PinkyPitch1LinkName}"
                    width="${LFJ1_Link_Width}" height="${LFJ1_Link_Height}" depth="${LFJ1_Link_Length}" mass="${PinkyPitch1LinkMass}"
                    origin_rpy="0 0 0"
                    origin_xyz="${LFJ1_Link_Origin_X} ${LFJ1_Link_Origin_Y} ${LFJ1_Link_Origin_Z}"
                    visual_mesh="${mesh_root}/ssf1_${prefix}.stl"
                    material="Gold"
                    collision_mesh="${mesh_root}/ssf1_${prefix}.stl"/>

    <xacro:box_link name="${PinkyPitch2LinkName}"
                    width="${LFJ2_Link_Width}" height="${LFJ2_Link_Height}" depth="${LFJ2_Link_Length}" mass="${PinkyPitch2LinkMass}"
                    origin_rpy="0 0 0"
                    origin_xyz="${LFJ2_Link_Origin_X} ${LFJ2_Link_Origin_Y} ${LFJ2_Link_Origin_Z}"
                    visual_mesh="${mesh_root}/ssf2_${prefix}.stl"
                    material="Gold"
                    collision_mesh="${mesh_root}/ssf2_${prefix}.stl"/>

    <xacro:box_link name="${PinkyPitch3LinkName}"
                    width="${LFJ3_Link_Width}" height="${LFJ3_Link_Height}" depth="${LFJ3_Link_Length}" mass="${PinkyPitch3LinkMass}"
                    origin_rpy="0 0 0"
                    origin_xyz="${LFJ3_Link_Origin_X} ${LFJ3_Link_Origin_Y} ${LFJ3_Link_Origin_Z}"
                    visual_mesh="${mesh_root}/sf2_ssf3.stl"
                    material="Gold"
                    collision_mesh="${mesh_root}/sf2_ssf3.stl"/>

    <xacro:revolute_joint jointName="${PinkyPitch1JointName}"
                          parent="${PinkyPitch1ParentLinkName}" child="${PinkyPitch1LinkName}"
                          origin_xyz="${PinkyPitch1FrameOrigin_X} ${PinkyPitch1FrameOrigin_Y} ${PinkyPitch1FrameOrigin_Z}"
                          origin_rpy="${PinkyPitch1FrameOrientation_Roll} ${PinkyPitch1FrameOrientation_Pitch} ${PinkyPitch1FrameOrientation_Yaw}">
        <limit effort="${PinkyPitch1TorqueLimit}" lower="${PinkyPitch1PositionLimit_Lower}" upper="${PinkyPitch1PositionLimit_Upper}" velocity="${PinkyPitch1VelocityLimit}"/>
    </xacro:revolute_joint>

    <xacro:revolute_joint jointName="${PinkyPitch2JointName}"
                          parent="${PinkyPitch1LinkName}" child="${PinkyPitch2LinkName}"
                          origin_xyz="${PinkyPitch2FrameOrigin_X} ${PinkyPitch2FrameOrigin_Y} ${PinkyPitch2FrameOrigin_Z}"
                          origin_rpy="${PinkyPitch2FrameOrientation_Roll} ${PinkyPitch2FrameOrientation_Pitch} ${PinkyPitch2FrameOrientation_Yaw}">
        <limit effort="${PinkyPitch2TorqueLimit}" lower="${PinkyPitch2PositionLimit_Lower}" upper="${PinkyPitch2PositionLimit_Upper}" velocity="${PinkyPitch2VelocityLimit}"/>
    </xacro:revolute_joint>

    <xacro:revolute_joint jointName="${PinkyPitch3JointName}"
                          parent="${PinkyPitch2LinkName}" child="${PinkyPitch3LinkName}"
                          origin_xyz="${PinkyPitch3FrameOrigin_X} ${PinkyPitch3FrameOrigin_Y} ${PinkyPitch3FrameOrigin_Z}"
                          origin_rpy="${PinkyPitch3FrameOrientation_Roll} ${PinkyPitch3FrameOrientation_Pitch} ${PinkyPitch3FrameOrientation_Yaw}">
        <limit effort="${PinkyPitch3TorqueLimit}" lower="${PinkyPitch3PositionLimit_Lower}" upper="${PinkyPitch3PositionLimit_Upper}" velocity="${PinkyPitch3VelocityLimit}"/>
    </xacro:revolute_joint>

  </xacro:macro>

  <xacro:macro name="make_little_finger_fixed" params="prefix reflect little_finger_root_link">

    <xacro:box_link name="${PinkyPitch1LinkName}"
                    width="${LFJ1_Link_Width}" height="${LFJ1_Link_Height}" depth="${LFJ1_Link_Length}" mass="${PinkyPitch1LinkMass}"
                    origin_rpy="0 0 0"
                    origin_xyz="${LFJ1_Link_Origin_X} ${LFJ1_Link_Origin_Y} ${LFJ1_Link_Origin_Z}"
                    visual_mesh="${mesh_root}/ssf1_${prefix}.stl"
                    material="Gold"
                    collision_mesh="${mesh_root}/ssf1_${prefix}.stl"/>

    <xacro:box_link name="${PinkyPitch2LinkName}"
                    width="${LFJ2_Link_Width}" height="${LFJ2_Link_Height}" depth="${LFJ2_Link_Length}" mass="${PinkyPitch2LinkMass}"
                    origin_rpy="0 0 0"
                    origin_xyz="${LFJ2_Link_Origin_X} ${LFJ2_Link_Origin_Y} ${LFJ2_Link_Origin_Z}"
                    visual_mesh="${mesh_root}/ssf2_${prefix}.stl"
                    material="Gold"
                    collision_mesh="${mesh_root}/ssf2_${prefix}.stl"/>

    <xacro:box_link name="${PinkyPitch3LinkName}"
                    width="${LFJ3_Link_Width}" height="${LFJ3_Link_Height}" depth="${LFJ3_Link_Length}" mass="${PinkyPitch3LinkMass}"
                    origin_rpy="0 0 0"
                    origin_xyz="${LFJ3_Link_Origin_X} ${LFJ3_Link_Origin_Y} ${LFJ3_Link_Origin_Z}"
                    visual_mesh="${mesh_root}/sf2_ssf3.stl"
                    material="Gold"
                    collision_mesh="${mesh_root}/sf2_ssf3.stl"/>

    <xacro:fixed_joint jointName="${PinkyPitch1JointName}"
                       parent="${PinkyPitch1ParentLinkName}" child="${PinkyPitch1LinkName}"
                       origin_xyz="${PinkyPitch1FrameOrigin_X} ${PinkyPitch1FrameOrigin_Y} ${PinkyPitch1FrameOrigin_Z}"
                       origin_rpy="${PinkyPitch1FrameOrientation_Roll} ${PinkyPitch1FrameOrientation_Pitch} ${PinkyPitch1FrameOrientation_Yaw}"/>

    <xacro:fixed_joint jointName="${PinkyPitch2JointName}"
                          parent="${PinkyPitch1LinkName}" child="${PinkyPitch2LinkName}"
                          origin_xyz="${PinkyPitch2FrameOrigin_X} ${PinkyPitch2FrameOrigin_Y} ${PinkyPitch2FrameOrigin_Z}"
                          origin_rpy="${PinkyPitch2FrameOrientation_Roll} ${PinkyPitch2FrameOrientation_Pitch} ${PinkyPitch2FrameOrientation_Yaw}"/>

    <xacro:fixed_joint jointName="${PinkyPitch3JointName}"
                          parent="${PinkyPitch2LinkName}" child="${PinkyPitch3LinkName}"
                          origin_xyz="${PinkyPitch3FrameOrigin_X} ${PinkyPitch3FrameOrigin_Y} ${PinkyPitch3FrameOrigin_Z}"
                          origin_rpy="${PinkyPitch3FrameOrientation_Roll} ${PinkyPitch3FrameOrientation_Pitch} ${PinkyPitch3FrameOrientation_Yaw}"/>
  </xacro:macro>

  <!-- Actuators -->
  <xacro:macro name="v1_right_little_finger_actuators" params="prefix api">
    <xacro:v1_actuator name="${RLFA_Actuator_Name}" api="${api}" />
  </xacro:macro>

  <xacro:macro name="v1_left_little_finger_actuators" params="prefix api">
    <xacro:v1_actuator name="${LLFA_Actuator_Name}" api="${api}" />
  </xacro:macro>

  <xacro:macro name="v1_right_little_finger_transmissions" params="prefix">
    <xacro:finger4_transmission tranName="${prefix}LittleFingerTransmission" 
                                joint1="${PinkyPitch1JointName}"
                                joint2="${PinkyPitch2JointName}"
                                joint3="${PinkyPitch3JointName}"
                                actuator="${RLFA_Actuator_Name}" />
  </xacro:macro>

  <xacro:macro name="v1_left_little_finger_transmissions" params="prefix">
    <xacro:finger4_transmission tranName="${prefix}LittleFingerTransmission" 
                                joint1="${PinkyPitch1JointName}"
                                joint2="${PinkyPitch2JointName}"
                                joint3="${PinkyPitch3JointName}"
                                actuator="${LLFA_Actuator_Name}" />
  </xacro:macro>

  <xacro:macro name="v1_right_little_finger_transmissions_simple" params="prefix">
    <xacro:simple_transmission jointName="${PinkyPitch2JointName}" actuatorName="${RLFA_Actuator_Name}" reduction="1" offset="0"/>
  </xacro:macro>

  <xacro:macro name="v1_left_little_finger_transmissions_simple" params="prefix">
    <xacro:simple_transmission jointName="${PinkyPitch2JointName}" actuatorName="${LLFA_Actuator_Name}" reduction="1" offset="0"/>
  </xacro:macro>

  <!-- Modes -->
  <xacro:macro name="v1_right_little_finger_modes" params="prefix">
    <xacro:v1_modes jointName="${PinkyPitch1JointName}" actuatorName="${RLFA_Actuator_Name}" />
    <xacro:v1_modes jointName="${PinkyPitch2JointName}" actuatorName="${RLFA_Actuator_Name}" />
    <xacro:v1_modes jointName="${PinkyPitch3JointName}" actuatorName="${RLFA_Actuator_Name}" />
  </xacro:macro>

  <xacro:macro name="v1_left_little_finger_modes" params="prefix">
    <xacro:v1_modes jointName="${PinkyPitch1JointName}" actuatorName="${LLFA_Actuator_Name}" />
    <xacro:v1_modes jointName="${PinkyPitch2JointName}" actuatorName="${LLFA_Actuator_Name}" />
    <xacro:v1_modes jointName="${PinkyPitch3JointName}" actuatorName="${LLFA_Actuator_Name}" />
  </xacro:macro>

  <!-- Complete interface -->
  <xacro:macro name="make_right_little_finger_interface" params="api">
    <xacro:v1_right_little_finger_actuators prefix="Right" api="${api}" />
    <xacro:v1_right_little_finger_transmissions prefix="Right" />
    <xacro:v1_right_little_finger_modes prefix="Right" />
  </xacro:macro>

  <xacro:macro name="make_left_little_finger_interface" params="api">
    <xacro:v1_left_little_finger_actuators prefix="Left" api="${api}" />
    <xacro:v1_left_little_finger_transmissions prefix="Left" />
    <xacro:v1_left_little_finger_modes prefix="Left" />
  </xacro:macro>

  <!-- Simple interface -->
  <xacro:macro name="make_right_little_finger_interface_simple" params="api">
    <xacro:v1_right_little_finger_actuators prefix="Right" api="${api}" />
    <xacro:v1_right_little_finger_transmissions_simple prefix="Right" />
    <xacro:v1_right_little_finger_modes prefix="Right" />
  </xacro:macro>

  <xacro:macro name="make_left_little_finger_interface_simple" params="api">
    <xacro:v1_left_little_finger_actuators prefix="Left" api="${api}" />
    <xacro:v1_left_little_finger_transmissions_simple prefix="Left" />
    <xacro:v1_left_little_finger_modes prefix="Left" />
  </xacro:macro>

</robot>