<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="v1/arm/mass_parameters">

  <xacro:property name="ShoulderPitchLinkMass" value="2.65" />
  <xacro:property name="ShoulderPitchLinkComPosition" value="-0.012000 ${reflect*0.251000} 0.000000" />

  <xacro:property name="ShoulderRollLinkMass" value="3.970000" />
  <xacro:property name="ShoulderRollLinkComPosition" value="-0.008513 ${reflect*-0.020680} 0.001088" />
  <!-- <xacro:property name="Inertia_IXX" value="" />
  <xacro:property name="Inertia_IXY" value="" />
  <xacro:property name="Inertia_IXZ" value="" />
  <xacro:property name="Inertia_IYY" value="" />
  <xacro:property name="Inertia_IYZ" value="" />
  <xacro:property name="Inertia_IZZ" value="" /> -->

  <xacro:property name="ShoulderYawLinkMass" value="3.085000" />
  <xacro:property name="ShoulderYawLinkComPosition" value="-0.004304	${reflect*-0.209832}	-0.007295" />

  <xacro:property name="ElbowPitchLinkMass" value="1.830000" />
  <xacro:property name="ElbowPitchLinkComPosition" value="-0.020344	${reflect*-0.014722} -0.022300" />

  <xacro:property name="ForearmYawLinkMass" value="2.476" />
  <xacro:property name="ForearmYawLinkComPosition" value="0.015000	${reflect*0.110000} 0.019564" />

  <xacro:property name="WristRollLinkMass" value="0.14" />
  <xacro:property name="WristRollLinkComPosition" value="0 ${reflect*0} 0" />

  <xacro:property name="PalmMass" value="0.712" /> <!--Need to update -->
  <xacro:property name="PalmComPosition" value="0.002954 ${reflect*0.052034} -0.000236" />

</robot>