<robot xmlns:xacro="http://ros.org/wiki/xacro" name="valkyrie_nodes">

	<xacro:property name="leftLegJ1Node" value="/left_leg/j1" />
	<xacro:property name="leftLegJ2Node" value="/left_leg/j2" />
	<xacro:property name="leftLegJ3Node" value="/left_leg/j3" />
	<xacro:property name="leftLegJ4Node" value="/left_leg/j4" />
	<xacro:property name="leftAnkleActuator0Node" value="/left_leg/ankle/actuator0" />
	<xacro:property name="leftAnkleActuator1Node" value="/left_leg/ankle/actuator1" />

	<xacro:property name="rightLegJ1Node" value="/right_leg/j1" />
	<xacro:property name="rightLegJ2Node" value="/right_leg/j2" />
	<xacro:property name="rightLegJ3Node" value="/right_leg/j3" />
	<xacro:property name="rightLegJ4Node" value="/right_leg/j4" />
	<xacro:property name="rightAnkleActuator0Node" value="/right_leg/ankle/actuator0" />
	<xacro:property name="rightAnkleActuator1Node" value="/right_leg/ankle/actuator1" />

	<xacro:property name="leftArmJ1Node" value="/left_arm/j1" />
	<xacro:property name="leftArmJ2Node" value="/left_arm/j2" />
	<xacro:property name="leftArmJ3Node" value="/left_arm/j3" />
	<xacro:property name="leftArmJ4Node" value="/left_arm/j4" />
	<xacro:property name="leftWristActuator0Node" value="/left_arm/wrist/actuator0" />
	<xacro:property name="leftWristActuator1Node" value="/left_arm/wrist/actuator1" />

	<xacro:property name="rightArmJ1Node" value="/right_arm/j1" />
	<xacro:property name="rightArmJ2Node" value="/right_arm/j2" />
	<xacro:property name="rightArmJ3Node" value="/right_arm/j3" />
	<xacro:property name="rightArmJ4Node" value="/right_arm/j4" />
	<xacro:property name="rightWristActuator0Node" value="/right_arm/wrist/actuator0" />
	<xacro:property name="rightWristActuator1Node" value="/right_arm/wrist/actuator1" />

	<xacro:property name="neckJ1Node" value="/neck/j1" />
	<xacro:property name="neckJ2Node" value="/neck/j2" />
	<xacro:property name="neckJ3Node" value="/neck/j3" />

	<xacro:property name="trunkNode" value="/trunk/j1" />
	<xacro:property name="waistActuator0Node" value="/trunk/waist/actuator0" />
	<xacro:property name="waistActuator1Node" value="/trunk/waist/actuator1" />

	<xacro:property name="pelvis_imu1_node" value="/pelvis/sensors/imu1" />
	<xacro:property name="pelvis_imu2_node" value="/pelvis/sensors/imu2" />
	<xacro:property name="torso_imu1_node" value="/torso/sensors/imu1" />
	<xacro:property name="torso_imu2_node" value="/torso/sensors/imu2" />

	<xacro:property name="left_foot_ATI_node" value="/sensors/left_leg/force_torque" />
	<xacro:property name="right_foot_ATI_node" value="/sensors/right_leg/force_torque" />

	<xacro:macro name="all_channels" >
		<Channels>
			<Channel id="/right_arm" />
			<Channel id="/left_arm" />
			<Channel id="/right_leg" />
			<Channel id="/left_leg" />
			<Channel id="/neck" />
			<Channel id="/trunk" />
		</Channels>
	</xacro:macro>
    
</robot>