<robot xmlns:xacro="http://ros.org/wiki/xacro" name="valkyrie">

    <xacro:include filename="$(find common_xacro)/xacro/generic_models.xacro" />
    <xacro:include filename="$(find valkyrie_description)/robots/valkyrie_A/xacro/plugins/gazebo_plugins.xacro"/>

    <xacro:include filename="$(find common_xacro)/xacro/materials.xacro" />
    <xacro:include filename="$(find valkyrie_description)/robots/valkyrie_A/xacro/common/common_bodies.xacro" />

    <xacro:include filename="$(find valkyrie_description)/robots/valkyrie_A/xacro/common/actuator_names.xacro" />

    <xacro:make_pelvis />
    <xacro:v1_pelvis_sensors/>

    <xacro:make_waist waist_root_link="${Pelvis_Link_Name}" />
    <!-- <xacro:v1_waist_actuators name1="${waist_name1}" type1="${waist_type1}" name2="${waist_name2}" type2="${waist_type2}" name3="${waist_name3}" type3="${waist_type3}"/> -->
    <xacro:v1_trunk_sensors/>

    <xacro:make_head head_root_link="${TorsoRollLinkName}" />
    <xacro:v1_head_sensors />
    <!-- <xacro:make_head_interface name1="/neck/j1" type1="${neck_type1}"
                               name2="/neck/j2" type2="${neck_type2}"
                               name3="/neck/j3" type3="${neck_type3}"/> -->

    <xacro:make_arm prefix="Right" reflect="-1" arm_root_link="${TorsoRollLinkName}" />
    <!-- <xacro:v1_arm_actuators name1="${rightarm_name1}" type1="${arm_type1}"
                            name2="${rightarm_name2}" type2="${arm_type2}"
                            name3="${rightarm_name3}" type3="${arm_type3}"
                            name4="${rightarm_name4}" type4="${arm_type4}"
                            name5="${rightarm_name5}" type5="${arm_type5}"
                            name6="${rightarm_name6}" type6="${arm_type6}"
                            name7="${rightarm_name7}" type7="${arm_type7}"/> -->
    <!-- <xacro:v1_arm_sensors /> -->

    <xacro:make_thumb prefix="Right" reflect="-1" thumb_root_link="RightPalm"/>

    <xacro:make_index_finger prefix="Right" reflect="-1" index_finger_root_link="RightPalm"/>

    <xacro:make_middle_finger prefix="Right" reflect="-1" middle_finger_root_link="RightPalm"/>

    <xacro:make_pinky_finger prefix="Right" reflect="-1" pinky_finger_root_link="RightPalm"/>

    <xacro:make_arm prefix="Left" reflect="1" arm_root_link="${TorsoRollLinkName}" />
    <!-- <xacro:v1_arm_actuators name1="${leftarm_name1}" type1="${arm_type1}"
                            name2="${leftarm_name2}" type2="${arm_type2}"
                            name3="${leftarm_name3}" type3="${arm_type3}"
                            name4="${leftarm_name4}" type4="${arm_type4}"
                            name5="${leftarm_name5}" type5="${arm_type5}"
                            name6="${leftarm_name6}" type6="${arm_type6}"
                            name7="${leftarm_name7}" type7="${arm_type7}"/> -->

    <xacro:make_thumb prefix="Left" reflect="1" thumb_root_link="LeftPalm"/>

    <xacro:make_index_finger prefix="Left" reflect="1" index_finger_root_link="LeftPalm"/>

    <xacro:make_middle_finger prefix="Left" reflect="1" middle_finger_root_link="LeftPalm"/>

    <xacro:make_pinky_finger prefix="Left" reflect="1" pinky_finger_root_link="LeftPalm"/>

    <xacro:make_leg prefix="Right" reflect="-1" leg_root_link="${Pelvis_Link_Name}" />
    <!-- <xacro:v1_leg_actuators name1="${rightleg_name1}" type1="${leg_type1}"
                            name2="${rightleg_name2}" type2="${leg_type2}"
                            name3="${rightleg_name3}" type3="${leg_type3}"
                            name4="${rightleg_name4}" type4="${leg_type4}"
                            name5="${rightleg_name5}" type5="${leg_type5}"
                            name6="${rightleg_name6}" type6="${leg_type6}"/> -->
    <xacro:v1_leg_sensors prefix="Right" reflect="-1" />
    <!-- <xacro:v1_hw_sensors prefix="Right" hermes_node="${rightleg_hermes}" atidaq_node="${rightleg_ati}" mpu6000_node="${rightleg_mpu2000}" cop_node="${rightleg_cop}"/> -->

    <xacro:make_leg prefix="Left" reflect="1" leg_root_link="${Pelvis_Link_Name}" />
    <xacro:v1_leg_sensors prefix="Left" reflect="1" />
    <!-- <xacro:v1_leg_actuators name1="${leftleg_name1}" type1="${leg_type1}"
                            name2="${leftleg_name2}" type2="${leg_type2}"
                            name3="${leftleg_name3}" type3="${leg_type3}"
                            name4="${leftleg_name4}" type4="${leg_type4}"
                            name5="${leftleg_name5}" type5="${leg_type5}"
                            name6="${leftleg_name6}" type6="${leg_type6}"/> -->
</robot>
