<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="v1/leg/mass_parameters">
 
  <xacro:property name="HipYawLinkMass" value="2.39" />
  <xacro:property name="HipYawLinkComPosition" value="0.02176 ${reflect*-0.00131} 0.03867" />

  <xacro:property name="HipRollLinkMass" value="5.95" />
  <xacro:property name="HipRollLinkComPosition" value="-0.00185 ${reflect*0.02426} -0.019260" />

  <xacro:property name="HipPitchLinkMass" value="10.3" />
  <xacro:property name="HipPitchLinkComPosition" value="0.000057 ${reflect*0.050000} -0.220000" />

  <xacro:property name="KneePitchLinkMass" value="7.4" />
  <xacro:property name="KneePitchLinkComPosition" value="-0.004670 ${reflect*0.045000} -0.184940" />

  <xacro:property name="AnklePitchLinkMass" value="0.395" />
  <xacro:property name="AnklePitchLinkComPosition" value="-0.001270 ${reflect*0.000000} -0.006010" />

  <xacro:property name="FootMass" value="3.2549999" />
  <xacro:property name="FootComPosition" value="0.040004 ${reflect*-0.00381} -0.049558" />
  <xacro:property name="FootInertia_IXX" value="0.008966273" />
  <xacro:property name="FootInertia_IXY" value="-0.000086029" />
  <xacro:property name="FootInertia_IXZ" value="0.003944774" />
  <xacro:property name="FootInertia_IYY" value="0.023943858" />
  <xacro:property name="FootInertia_IYZ" value="0.000105218" />
  <xacro:property name="FootInertia_IZZ" value="0.028128777" />



</robot>