<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="v1/arm/joint_names">
 
  <xacro:property name="AJ1_Joint_Name" value="${prefix}ShoulderPitch" />
  <xacro:property name="AJ2_Joint_Name" value="${prefix}ShoulderRoll" />
  <xacro:property name="AJ3_Joint_Name" value="${prefix}ShoulderYaw" />
  <xacro:property name="AJ4_Joint_Name" value="${prefix}ElbowPitch" />
  <xacro:property name="AJ5_Joint_Name" value="${prefix}ForearmYaw" />
  <xacro:property name="AJ6_Joint_Name" value="${prefix}WristPitch" />
  <xacro:property name="AJ7_Joint_Name" value="${prefix}WristRoll" />
</robot>