<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="v1/arm/joint_names">
 
  <xacro:property name="ShoulderPitchJointName" value="${prefix}ShoulderPitch" />
  <xacro:property name="ShoulderRollJointName" value="${prefix}ShoulderRoll" />
  <xacro:property name="ShoulderYawJointName" value="${prefix}ShoulderYaw" />
  <xacro:property name="ElbowPitchJointName" value="${prefix}ElbowPitch" />
  <xacro:property name="ForearmYawJointName" value="${prefix}ForearmYaw" />
  <xacro:property name="WristRollJointName" value="${prefix}WristPitch" />
  <xacro:property name="WristPitchJointName" value="${prefix}WristRoll" />
</robot>