<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="v1/arm/joint_limits">
  
  <xacro:property name="ShoulderPitchTorqueLimit" value="190" />
  <xacro:property name="ShoulderRollTorqueLimit" value="190" />
  <xacro:property name="ShoulderYawTorqueLimit" value="65" />
  <xacro:property name="ElbowPitchTorqueLimit" value="65" />
  <xacro:property name="ForearmYawTorqueLimit" value="26" />
  <xacro:property name="WristRollTorqueLimit" value="14" />
  <xacro:property name="WristPitchTorqueLimit" value="14" />

  <xacro:property name="ShoulderPitchPositionLimit_Lower" value="-3.14" />
  <xacro:property name="ShoulderRollPositionLimit_Lower" value="-3.05" />
  <xacro:property name="ShoulderYawPositionLimit_Lower" value="-1.57" />
  <xacro:property name="ElbowPitchPositionLimit_Lower" value="-1.92" />
  <xacro:property name="ForearmYawPositionLimit_Lower" value="-2.36" />
  <xacro:property name="WristRollPositionLimit_Lower" value="-0.873" />
  <xacro:property name="WristPitchPositionLimit_Lower" value="-0.524" />

  <xacro:property name="AJ1_Upper_Limit" value="${180 * DEG2RAD}" />
  <xacro:property name="AJ2_Upper_Limit" value="-0.155" />
  <xacro:property name="AJ3_Upper_Limit" value="1.7" />
  <xacro:property name="AJ4_Upper_Limit" value="${-5 * DEG2RAD}" />
  <xacro:property name="AJ5_Upper_Limit" value="${135 * DEG2RAD}" />
  <xacro:property name="AJ6_Upper_Limit" value="${40 * DEG2RAD}" />
  <xacro:property name="AJ7_Upper_Limit" value="${25 * DEG2RAD}" />

  <xacro:property name="AJ1_Speed_Limit" value="5.89" />
  <xacro:property name="AJ2_Speed_Limit" value="5.89" />
  <xacro:property name="AJ3_Speed_Limit" value="11.5" />
  <xacro:property name="AJ4_Speed_Limit" value="11.5" />
  <xacro:property name="AJ5_Speed_Limit" value="5" />
  <xacro:property name="AJ6_Speed_Limit" value="1" />
  <xacro:property name="AJ7_Speed_Limit" value="1" />
</robot>