<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="v1/arm/link_names">

  <xacro:property name="AJ1_Proximal_Link" value="${arm_root_link}" />
  <xacro:property name="AJ1_Distal_Link" value="${prefix}ShoulderPitch" />

  <xacro:property name="AJ2_Proximal_Link" value="${prefix}ShoulderPitch" />
  <xacro:property name="AJ2_Distal_Link" value="${prefix}ShoulderRoll" />

  <xacro:property name="AJ3_Proximal_Link" value="${prefix}ShoulderRoll" />
  <xacro:property name="AJ3_Distal_Link" value="${prefix}ShoulderYaw" />

  <xacro:property name="AJ4_Proximal_Link" value="${prefix}ShoulderYaw" />
  <xacro:property name="AJ4_Distal_Link" value="${prefix}ElbowPitch" />

  <xacro:property name="AJ5_Proximal_Link" value="${prefix}ElbowPitch" />
  <xacro:property name="AJ5_Distal_Link" value="${prefix}Forearm" />

  <xacro:property name="AJ6_Proximal_Link" value="${prefix}Forearm" />
  <xacro:property name="AJ6_Distal_Link" value="${prefix}WristPitch" />

  <xacro:property name="AJ7_Proximal_Link" value="${prefix}WristPitch" />
  <xacro:property name="AJ7_Distal_Link" value="${prefix}Palm" />

</robot>