<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="v1/common_properties">
	<xacro:property name="pi" value="3.14159265359" />
    <xacro:property name="pi_2" value="1.57079632679" />
    <xacro:property name="pi_4" value="0.78539816339" />
    <xacro:property name="DEG2RAD" value="0.01745329251" />
</robot>