<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="v1/primary_finger/mass_parameters">
  
  <xacro:property name="IndexFingerPitch1JointName" value="${prefix}PrimaryMPYaw" />
  <xacro:property name="IndexFingerPitch2JointName" value="${prefix}PrimaryMPExtensor" />
  <xacro:property name="IndexFingerPitch3JointName" value="${prefix}PrimaryPIPExtensor" />
  <xacro:property name="IndexFingerPitch4JointName" value="${prefix}PrimaryDIPExtensor" />

</robot>