<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="v1/head/joint_names">

  <xacro:property name="NJ1_Joint_Name" value="LowerNeckPitch" />
  <xacro:property name="NJ2_Joint_Name" value="NeckYaw" />
  <xacro:property name="NJ3_Joint_Name" value="UpperNeckPitch" />

</robot>