<robot xmlns:xacro="http://ros.orgt/wiki/xacro" name="common_bodies">
    <xacro:include filename="$(find val_description)/robots/common/pelvis/pelvis.xacro" />
    <xacro:include filename="$(find val_description)/robots/common/waist/waist.xacro" />
    <xacro:include filename="$(find val_description)/robots/common/head/head.xacro" />
    <xacro:include filename="$(find val_description)/robots/common/arm/arm.xacro" />
    <xacro:include filename="$(find val_description)/robots/common/thumb/thumb.xacro" />
    <xacro:include filename="$(find val_description)/robots/common/index_finger/index_finger.xacro" />
    <xacro:include filename="$(find val_description)/robots/common/middle_finger/middle_finger.xacro" />
    <xacro:include filename="$(find val_description)/robots/common/pinky_finger/pinky_finger.xacro" />
</robot>