<robot xmlns:xacro="http://ros.org/wiki/xacro" name="arm">

    <xacro:include filename="$(find val_description)/instance/instances/robots/xacro/mechanisms/mechanisms.xacro"/>
    <xacro:include filename="$(find val_description)/common/xacro/joint_names/valkyrie_joint_names.xacro"/>

    <xacro:macro name="forearmMake" params="prefix forearm_serial_number">
        <xacro:forearm mechanism_name="${prefix}Forearm" serial_number="${forearm_serial_number}" athena1_node="${Athena1Node}" athena2_node="${Athena2Node}" />
    </xacro:macro>

</robot>
