<robot xmlns:xacro="http://ros.org/wiki/xacro" name="neck">

    <xacro:include filename="$(find val_description)/instance/instances/robots/xacro/mechanisms/mechanisms.xacro"/>

    <xacro:macro name="neck" params="j1_serial_number j2_serial_number j3_serial_number j1_node j2_node j3_node" >
    	<xacro:simple_mechanism name="lower_neck_pitch" serial_number="${j1_serial_number}" node="${j1_node}"/>

    	<xacro:simple_mechanism name="neck_yaw" serial_number="${j2_serial_number}" node="${j2_node}"/>

    	<xacro:simple_mechanism name="upper_neck_pitch" serial_number="${j3_serial_number}" node="${j3_node}"/>
    </xacro:macro>

</robot>