<robot xmlns:xacro="http://ros.org/wiki/xacro" name="waist">

    <xacro:include filename="$(find val_description)/instance/instances/robots/xacro/mechanisms/mechanisms.xacro"/>

    <xacro:macro name="waist" params="j1_serial_number waist_actuator0_serial waist_actuator1_serial j1_node waist_actuator0_node waist_actuator1_node" >
    	<xacro:simple_mechanism name="torso_yaw" serial_number="${j1_serial_number}" node="${j1_node}"/>

    	<xacro:two_active_joint_mechanism mechanism_name="waist" joint0_name="pitch" joint1_name="roll" actuator0_serial="${waist_actuator0_serial}" actuator1_serial="${waist_actuator1_serial}" actuator0_node="${waist_actuator0_node}" actuator1_node="${waist_actuator1_node}" />
    </xacro:macro>

</robot>