<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="v1/waist/dh_parameters">

  <xacro:property name="WJ1_Origin_X" value="0"/>
  <xacro:property name="WJ1_Origin_Y" value="0"/>
  <xacro:property name="WJ1_Origin_Z" value="0"/>

  <xacro:property name="WJ1_Orientation_Roll" value="0.0"/>
  <xacro:property name="WJ1_Orientation_Pitch" value="0.0"/>
  <xacro:property name="WJ1_Orientation_Yaw" value="0.0"/>

  <xacro:property name="WJ2_Origin_X" value="0.04191"/>
  <xacro:property name="WJ2_Origin_Y" value="0"/>
  <xacro:property name="WJ2_Origin_Z" value="0"/>

  <xacro:property name="WJ2_Orientation_Roll" value="0.0"/>
  <xacro:property name="WJ2_Orientation_Pitch" value="0.0"/>
  <xacro:property name="WJ2_Orientation_Yaw" value="0.0"/>

  <xacro:property name="WJ3_Origin_X" value="0"/>
  <xacro:property name="WJ3_Origin_Y" value="0.020352"/>
  <xacro:property name="WJ3_Origin_Z" value="0"/>

  <xacro:property name="WJ3_Orientation_Roll" value="0.0"/>
  <xacro:property name="WJ3_Orientation_Pitch" value="0.0"/>
  <xacro:property name="WJ3_Orientation_Yaw" value="0.0"/>

</robot>
