<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="v1/waist/mass_parameters">

  <xacro:property name="WJ3_Link_Mass_No_Battery_No_Neck" value="23.9" />
  <xacro:property name="Battery_Mass" value="14.4" />

  <xacro:property name="WJ3_Link_Mass" value="42.6" />

  <xacro:property name="WJ3_Link_Mass_No_Battery" value="24.371" />

</robot>
