<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="v1/waist">

  <!-- Properties -->
  <xacro:include filename="$(find valkyrie_description)/robots/valkyrie_A/xacro/waist/joint_names.xacro"/>
  <xacro:include filename="$(find valkyrie_description)/robots/valkyrie_A/xacro/waist/link_names.xacro"/>
  <xacro:include filename="$(find valkyrie_description)/robots/valkyrie_A/xacro/waist/joint_limits.xacro"/>
  <xacro:include filename="$(find valkyrie_description)/robots/valkyrie_A/xacro/waist/frame_parameters.xacro"/>
  <xacro:include filename="$(find valkyrie_description)/robots/valkyrie_A/xacro/waist/mass_parameters.xacro"/>
  <xacro:include filename="$(find valkyrie_description)/robots/valkyrie_A/xacro/sensors/microstrain.xacro"/>
  <xacro:include filename="$(find valkyrie_description)/robots/valkyrie_A/xacro/sensors/virtual_sensor.xacro"/>
  <xacro:include filename="$(find valkyrie_description)/robots/valkyrie_A/xacro/sensors/flea.xacro"/>

  <xacro:property name="Trunk_Width" value="0.47605775481079287692"/>
  <xacro:property name="Trunk_Height" value="0.39817895332782154982"/>
  <xacro:property name="Trunk_Length" value="0.42203731228144558685"/>

  <xacro:macro name="make_waist_common" params="waist_root_link">

    <xacro:virtual_link name="${TorsoYawLinkName}" origin_xyz="0 0 0" origin_rpy="0 0 0"/>

    <xacro:virtual_link name="${TorsoPitchLinkName}" origin_xyz="0 0 0" origin_rpy="0 0 0"/>

    <xacro:revolute_joint_ex jointName="${TorsoYawJointName}"
                          parent="${TorsoYawParentLinkName}" child="${TorsoYawLinkName}"
                          origin_xyz="${TorsoYawFrameOrigin_X} ${TorsoYawFrameOrigin_Y} ${TorsoYawFrameOrigin_Z}"
                          origin_rpy="${TorsoYawFrameOrientation_Roll} ${TorsoYawFrameOrientation_Pitch} ${TorsoYawFrameOrientation_Yaw}"
                          damping="0.1" friction="0.0">
        <limit effort="${TorsoYawTorqueLimit}" lower="${TorsoYawPositionLimit_Lower}" upper="${TorsoYawPositionLimit_Upper}" velocity="${TorsoYawVelocityLimit}"/>
        <controller_gains Kp="20000" Kd="400"/>
    </xacro:revolute_joint_ex>

    <xacro:revolute_joint_ex jointName="${TorsoPitchJointName}"
                          parent="${TorsoYawLinkName}" child="${TorsoPitchLinkName}"
                          origin_xyz="${TorsoPitchFrameOrigin_X} ${TorsoPitchFrameOrigin_Y} ${TorsoPitchFrameOrigin_Z}"
                          origin_rpy="${TorsoPitchFrameOrientation_Roll} ${TorsoPitchFrameOrientation_Pitch} ${TorsoPitchFrameOrientation_Yaw}"
                          damping="0.1" friction="0.0">
        <limit effort="${TorsoPitchTorqueLimit}" lower="${TorsoPitchPositionLimit_Lower}" upper="${TorsoPitchPositionLimit_Upper}" velocity="${TorsoPitchVelocityLimit}"/>
        <controller_gains Kp="20000" Kd="400"/>
    </xacro:revolute_joint_ex>


    <xacro:revolute_joint_ex jointName="${TorsoRollJointName}"
                          parent="${TorsoPitchLinkName}" child="${TorsoRollLinkName}"
                          origin_xyz="${TorsoRollFrameOrigin_X} ${TorsoRollFrameOrigin_Y} ${TorsoRollFrameOrigin_Z}"
                          origin_rpy="${TorsoRollFrameOrientation_Roll} ${TorsoRollFrameOrientation_Pitch} ${TorsoRollFrameOrientation_Yaw}"
                          damping="0.1" friction="0.0">
        <limit effort="${TorsoRollTorqueLimit}" lower="${TorsoRollPositionLimit_Lower}" upper="${TorsoRollPositionLimit_Upper}" velocity="${TorsoRollVelocityLimit}"/>
        <controller_gains Kp="20000" Kd="400"/>
    </xacro:revolute_joint_ex>
  </xacro:macro>

  <xacro:macro name="make_waist" params="waist_root_link">
    <xacro:box_link name="${TorsoRollLinkName}"
                    width="${Trunk_Width}" height="${Trunk_Height}" depth="${Trunk_Length}" mass="${TorsoRollLinkMass}"
                    origin_rpy="0 0 0"
                    origin_xyz="0.219 0.03 -0.104"
                    visual_mesh="${mesh_root}/wj3.stl"
                    material="White"
                    collision_mesh="${mesh_root}/wj3.stl" />
    <xacro:make_waist_common waist_root_link="${waist_root_link}"/>
  </xacro:macro>

  <xacro:macro name="make_fixed_waist" params="waist_root_link">

    <xacro:virtual_link name="${TorsoYawLinkName}" origin_xyz="0 0 0" origin_rpy="0 0 0"/>

    <xacro:virtual_link name="${TorsoPitchLinkName}" origin_xyz="0 0 0" origin_rpy="0 0 0"/>

    <xacro:box_link name="${TorsoRollLinkName}"
                    width="${Trunk_Width}" height="${Trunk_Height}" depth="${Trunk_Length}" mass="${TorsoRollLinkMass}"
                    origin_rpy="0 0 0"
                    origin_xyz="0.226 0 -0.078"
                    visual_mesh="${mesh_root}/wj3.stl"
                    material="White"
                    collision_mesh="${mesh_root}/wj3.stl" />

    <xacro:fixed_joint jointName="${TorsoYawJointName}"
                          parent="${TorsoYawParentLinkName}" child="${TorsoYawLinkName}"
                          origin_xyz="${TorsoYawFrameOrigin_X} ${TorsoYawFrameOrigin_Y} ${TorsoYawFrameOrigin_Z}"
                          origin_rpy="${TorsoYawFrameOrientation_Roll} ${TorsoYawFrameOrientation_Pitch} ${TorsoYawFrameOrientation_Yaw}">
        <limit effort="${TorsoYawTorqueLimit}" lower="${TorsoYawPositionLimit_Lower}" upper="${TorsoYawPositionLimit_Upper}" velocity="${TorsoYawVelocityLimit}"/>
    </xacro:fixed_joint>

    <xacro:fixed_joint jointName="${TorsoPitchJointName}"
                          parent="${TorsoYawLinkName}" child="${TorsoPitchLinkName}"
                          origin_xyz="${TorsoPitchFrameOrigin_X} ${TorsoPitchFrameOrigin_Y} ${TorsoPitchFrameOrigin_Z}"
                          origin_rpy="${TorsoPitchFrameOrientation_Roll} ${TorsoPitchFrameOrientation_Pitch} ${TorsoPitchFrameOrientation_Yaw}">
        <limit effort="${TorsoPitchTorqueLimit}" lower="${TorsoPitchPositionLimit_Lower}" upper="${TorsoPitchPositionLimit_Upper}" velocity="${TorsoPitchVelocityLimit}"/>
    </xacro:fixed_joint>

    <xacro:fixed_joint jointName="${TorsoRollJointName}"
                          parent="${TorsoPitchLinkName}" child="${TorsoRollLinkName}"
                          origin_xyz="${TorsoRollFrameOrigin_X} ${TorsoRollFrameOrigin_Y} ${TorsoRollFrameOrigin_Z}"
                          origin_rpy="${TorsoRollFrameOrientation_Roll} ${TorsoRollFrameOrientation_Pitch} ${TorsoRollFrameOrientation_Yaw}">
        <limit effort="${TorsoRollTorqueLimit}" lower="${TorsoRollPositionLimit_Lower}" upper="${TorsoRollPositionLimit_Upper}" velocity="${TorsoRollVelocityLimit}"/>
    </xacro:fixed_joint>
  </xacro:macro>

  <xacro:macro name="make_no_waist">

    <xacro:box_link name="${TorsoRollLinkName}"
                    width="${Trunk_Width}" height="${Trunk_Height}" depth="${Trunk_Length}" mass="${TorsoRollLinkMass}"
                    origin_rpy="0 0 0"
                    origin_xyz="0 0 0"
                    visual_mesh="${mesh_root}/wj3.stl"
                    material="White"
                    collision_mesh="${mesh_root}/wj3.stl" />
  </xacro:macro>

  <xacro:macro name="make_waist_fixed_wj2_wj3" params="waist_root_link">
    <xacro:link_no_mesh
      name="${TorsoYawLinkName}"
      width="0.01" height="0.01" depth="0.01"
      mass="${TorsoYawLinkMass}"
      origin_xyz="0.0008 0.0002 0.0221"
      origin_rpy="0 0 0"
      ixx="0.0085" ixy="-7.86e-6" ixz="1.875e-5"
      iyy="1.12e-2" iyz="1.07e-5"
      izz="1.181e-2"/>



    <xacro:virtual_link name="${TorsoPitchLinkName}" origin_xyz="0 0 0" origin_rpy="0 0 0"/>

    <xacro:virtual_link name="${TorsoRollLinkName}" origin_rpy="0 0 0" origin_xyz="0.226 0 -0.078" />

    <xacro:revolute_joint_ex jointName="${TorsoYawJointName}"
                          parent="${TorsoYawParentLinkName}" child="${TorsoYawLinkName}"
                          origin_xyz="${TorsoYawFrameOrigin_X} ${TorsoYawFrameOrigin_Y} ${TorsoYawFrameOrigin_Z}"
                          origin_rpy="${TorsoYawFrameOrientation_Roll} ${TorsoYawFrameOrientation_Pitch} ${TorsoYawFrameOrientation_Yaw}"
                          damping="0.1" friction="0.0">
        <limit effort="${TorsoYawTorqueLimit}" lower="${TorsoYawPositionLimit_Lower}" upper="${TorsoYawPositionLimit_Upper}" velocity="${TorsoYawVelocityLimit}"/>
        <controller_gains Kp="20000" Kd="400"/>
    </xacro:revolute_joint_ex>

    <xacro:fixed_joint jointName="${TorsoPitchJointName}"
                          parent="${TorsoYawLinkName}" child="${TorsoPitchLinkName}"
                          origin_xyz="${TorsoPitchFrameOrigin_X} ${TorsoPitchFrameOrigin_Y} ${TorsoPitchFrameOrigin_Z}"
                          origin_rpy="${TorsoPitchFrameOrientation_Roll} ${TorsoPitchFrameOrientation_Pitch} ${TorsoPitchFrameOrientation_Yaw}">
        <limit effort="${TorsoPitchTorqueLimit}" lower="${TorsoPitchPositionLimit_Lower}" upper="${TorsoPitchPositionLimit_Upper}" velocity="${TorsoPitchVelocityLimit}"/>
    </xacro:fixed_joint>

    <xacro:fixed_joint jointName="${TorsoRollJointName}"
                          parent="${TorsoPitchLinkName}" child="${TorsoRollLinkName}"
                          origin_xyz="${TorsoRollFrameOrigin_X} ${TorsoRollFrameOrigin_Y} ${TorsoRollFrameOrigin_Z}"
                          origin_rpy="${TorsoRollFrameOrientation_Roll} ${TorsoRollFrameOrientation_Pitch} ${TorsoRollFrameOrientation_Yaw}">
        <limit effort="${TorsoRollTorqueLimit}" lower="${TorsoRollPositionLimit_Lower}" upper="${TorsoRollPositionLimit_Upper}" velocity="${TorsoRollVelocityLimit}"/>
    </xacro:fixed_joint>
  </xacro:macro>

  <!-- Actuators -->
  <xacro:macro name="v1_waist_actuators"  params="name1 type1 name2 type2 name3 type3">
    <actuator name="${name1}" type="${type1}"/>
    <actuator name="${name2}" type="${type2}"/>
    <actuator name="${name3}" type="${type3}"/>
  </xacro:macro>

  <xacro:macro name="v1_trunk_sensors">
    <xacro:microstrain_sensor sensorName="RightIMU"
                              parentLink="${TorsoRollLinkName}"
                              origin_xyz="0.363038 0.134239 -0.0468630"
                              origin_rpy="-1.57 1.57 0" />

    <xacro:microstrain_sensor sensorName="LeftIMU"
                              parentLink="${TorsoRollLinkName}"
                              origin_xyz="0.363038 -0.134239  -0.0468630"
                              origin_rpy="1.57 1.57 0" />

    <xacro:flea3_camera sensorName="RightHazardCamera"
                        parentLink="${TorsoRollLinkName}"
                        origin_xyz="0.0446987 0.0406146 0.0182674"
                        origin_rpy="0 0 0"
                        imageFormat="R8G8B8"
                        frameRate="60"/>

    <xacro:flea3_camera sensorName="LeftHazardCamera"
                        parentLink="${TorsoRollLinkName}"
                        origin_xyz="0.0446987 -0.0406146 0.0182674"
                        origin_rpy="0 0 0"
                        imageFormat="R8G8B8"
                        frameRate="60"/>

    <xacro:massless_virtual_sensor sensorName="StereoHazardCamera"
                          parentLink="${TorsoRollLinkName}"
                          origin_xyz=".1723 -0.04535 0.0344"
                          origin_rpy="0 0 1.57" />
   </xacro:macro>
</robot>
