<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="v1/waist/mass_parameters">
  
  <xacro:property name="TorsoYawJointName" value="TorsoYaw" />
  <xacro:property name="TorsoPitchJointName" value="TorsoPitch" />
  <xacro:property name="TorsoRollJointName" value="TorsoRoll" />

</robot>