<robot xmlns:xacro="http://ros.org/wiki/xacro" name="ankle_template">

	<xacro:include filename="$(find val_description)/instance/instances/robots/xacro/mechanisms/mechanisms.xacro"/>
    <xacro:include filename="$(find val_description)/common/xacro/joint_names/valkyrie_joint_names.xacro"/>

	<RobotInstance id="AnkleTestBench" />

	<Mechanisms>
		<xacro:two_active_joint_mechanism mechanism_name="ankle" actuator0_name="${prefix}AnkleLeftActuator" actuator1_name="${prefix}AnkleRightActuator" joint0_name="${AnklePitchJointName}" joint1_name="${AnkleRollJointName}" actuator0_serial="${leftAnkleLeftActuatorSerialNumber}" actuator1_serial="${leftAnkleRightActuatorSerialNumber}" actuator0_node="${AnkleInsideActuatorNode}" actuator1_node="${AnkleOutsideActuatorNode}" />

		<!-- ankle_left_actuator_serial="${leftAnkleActuator0SerialNumber}" ankle_right_actuator_serial="${leftAnkleActuator1SerialNumber} -->
	</Mechanisms>

    
</robot>