<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="neck_names">

  <xacro:property name="LowerNeckPitchActuatorName" value="LowerNeckPitchActuator" />
  <xacro:property name="NeckYawActuatorName" value="NeckYawActuator" />
  <xacro:property name="UpperNeckPitchActuatorName" value="UpperNeckPitchActuator" />
</robot>