<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="leg_joint_names">
  
  <xacro:property name="HipYawJointName" value="${prefix}HipYaw" />
  <xacro:property name="HipRollJointName" value="${prefix}HipRoll" />
  <xacro:property name="HipPitchJointName" value="${prefix}HipPitch" />
  <xacro:property name="KneePitchJointName" value="${prefix}KneePitch" />
  <xacro:property name="AnklePitchJointName" value="${prefix}AnklePitch" />
  <xacro:property name="AnkleRollJointName" value="${prefix}AnkleRoll" />

</robot>