<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="v1/leg/joint_names">
  
  <xacro:property name="LJ1_Joint_Name" value="${prefix}HipYaw" />
  <xacro:property name="LJ2_Joint_Name" value="${prefix}HipRoll" />
  <xacro:property name="LJ3_Joint_Name" value="${prefix}HipPitch" />
  <xacro:property name="LJ4_Joint_Name" value="${prefix}KneePitch" />
  <xacro:property name="LJ5_Joint_Name" value="${prefix}AnklePitch" />
  <xacro:property name="LJ6_Joint_Name" value="${prefix}AnkleRoll" />

</robot>