<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="v1/leg/joint_limits">

  <xacro:property name="LJ1_Torque_Limit" value="190" />
  <xacro:property name="LJ2_Torque_Limit" value="350" />
  <xacro:property name="LJ3_Torque_Limit" value="350" />
  <xacro:property name="LJ4_Torque_Limit" value="350" />
  <xacro:property name="LJ5_Torque_Limit" value="205" />
  <xacro:property name="LJ6_Torque_Limit" value="205" />

  <xacro:property name="LJ1_Lower_Limit" value="-0.524" />
  <xacro:property name="LJ2_Lower_Limit" value="-0.524" />
  <xacro:property name="LJ3_Lower_Limit" value="-2.356" />
  <xacro:property name="LJ4_Lower_Limit" value="-1.902" />
  <xacro:property name="LJ5_Lower_Limit" value="-0.873" />
  <xacro:property name="LJ6_Lower_Limit" value="-0.349" />

  <xacro:property name="LJ1_Upper_Limit" value="0.169" />
  <xacro:property name="LJ2_Upper_Limit" value="0.262" />
  <xacro:property name="LJ3_Upper_Limit" value="1.710" />
  <xacro:property name="LJ4_Upper_Limit" value="0.218" />
  <xacro:property name="LJ5_Upper_Limit" value="0.873" />
  <xacro:property name="LJ6_Upper_Limit" value="0.349" />

  <xacro:property name="LJ1_Speed_Limit" value="5.89" />
  <xacro:property name="LJ2_Speed_Limit" value="7" />
  <xacro:property name="LJ3_Speed_Limit" value="6.11" />
  <xacro:property name="LJ4_Speed_Limit" value="6.11" />
  <xacro:property name="LJ5_Speed_Limit" value="11" />
  <xacro:property name="LJ6_Speed_Limit" value="11" />
</robot>