<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="leg_actuator_names">

  <xacro:property name="HipYawActuatorName" value="${prefix}HipYawActuator" />
  <xacro:property name="HipRollActuatorName" value="${prefix}HipRollActuator" />
  <xacro:property name="HipPitchActuatorName" value="${prefix}HipPitchActuator" />
  <xacro:property name="KneePitchActuatorName" value="${prefix}KneePitchActuator" />
  <xacro:property name="AnkleInsideActuatorName" value="${prefix}AnkleInsideActuator" />
  <xacro:property name="AnkleOutsideActuatorName" value="${prefix}AnkleOutsideActuator" />
</robot>