<robot xmlns:xacro="http://ros.org/wiki/xacro" name="valkyrie">

    <xacro:property name="mesh_root" value="package://val_description/model/meshes"/>
    <xacro:include filename="$(find val_description)/model/robots/common/xacro/generic_models.xacro" />
    <xacro:include filename="$(find val_description)/model/robots/common/xacro/common_bodies.xacro" />
    
    <xacro:property name="prefix" value="right"/>
    <xacro:property name="reflect" value="1"/>

    <link name="world"/>

    <joint name="fixed" type="fixed">
        <parent link="world"/>
        <child link="${prefix}ForearmLink"/>
    </joint>

    <xacro:make_lower_arm prefix="${prefix}" reflect="${reflect}" lower_arm_root_link="world"/>
    
    <xacro:index_finger_transmissions_hw prefix="${prefix}" />
    <xacro:middle_finger_transmissions_hw prefix="${prefix}" />
    <xacro:pinky_finger_transmissions_hw prefix="${prefix}" />
    <xacro:thumb_transmissions_hw prefix="${prefix}" />
    <xacro:athena1_transmission prefix="${prefix}" transmissionName="${prefix}ArmAthena1Transmission" actuatorApi="${Athena1Api}" nodeName="${Athena1Node}"/>
    <xacro:athena2_transmission prefix="${prefix}" transmissionName="${prefix}ArmAthena2Transmission" actuatorApi="${Athena2Api}" nodeName="${Athena2Node}"/>

</robot>