<robot xmlns:xacro="http://ros.org/wiki/xacro" name="valkyrie">

    <xacro:property name="mesh_root" value="package://val_description/model/meshes"/>
    <xacro:include filename="$(find val_description)/model/robots/common/xacro/generic_models.xacro" />
    <xacro:include filename="$(find val_description)/model/robots/common/xacro/common_bodies.xacro" />
    <xacro:include filename="$(find val_description)/common/xacro/serial_numbers/valkyrie_B_serials.xacro"/>
    <xacro:include filename="$(find val_description)/common/xacro/api/valkyrie_B_api.xacro"/>
    <xacro:include filename="$(find val_description)/model/robots/common/xacro/leg/link_names.xacro"/>
    
    <xacro:property name="prefix" value="right"/>
    <xacro:property name="reflect" value="-1"/>

    <link name="world"/>

    <joint name="fixed" type="fixed">
        <parent link="world"/>
        <child link="${prefix}${HipYawLinkName}"/>
    </joint>

    <xacro:make_leg prefix="${prefix}" reflect="${reflect}" leg_root_link="world"/>
    <xacro:make_leg prefix="left" reflect="1" leg_root_link="world"/>

    <xacro:leg_transmissions_hw prefix="${prefix}"/>
    <xacro:leg_transmissions_hw prefix="left"/>
    <xacro:v1_leg_sensors prefix="${prefix}" reflect="${reflect}" ATI_serial_number="${right_foot_ATI_serial}" ATI_node="${right_foot_ATI_node}"/>
    <xacro:v1_leg_sensors prefix="left" reflect="1" ATI_serial_number="${left_foot_ATI_serial}" ATI_node="${left_foot_ATI_node}"/>

</robot>
