<robot xmlns:xacro="http://ros.org/wiki/xacro" name="valkyrie">

    <xacro:property name="mesh_root" value="package://val_description/model/meshes"/>
    <xacro:include filename="$(find val_description)/model/robots/common/xacro/generic_models.xacro" />
    <xacro:include filename="$(find val_description)/model/materials/materials.xacro" />
    <xacro:include filename="$(find val_description)/model/robots/common/xacro/common_bodies.xacro" />
    <xacro:include filename="$(find val_description)/model/robots/common/xacro/valkyrie_base_sim.xacro"/>
    <xacro:include filename="$(find val_description)/model/urdf/multisense_sl.urdf" />
    <xacro:include filename="../../common/xacro/serial_numbers/valkyrie_A_serials.xacro"/>


	<!-- ros_control plugin -->
	<gazebo>
		<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
			<robotNamespace>/val</robotNamespace>
			<robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
		</plugin>
	</gazebo>

    <link name="world"/>

    <joint name="fixed" type="fixed">
    	<parent link="world"/>
    	<child link="${Pelvis_Link_Name}"/>
  	</joint>

</robot>
