<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ati_force_torque_sensor">
  <xacro:macro name="ati_force_torque_sensor" params="sensorName parentLink origin_xyz origin_rpy">
  	
    <sensor name="${sensorName}" type="force_torque">
      <parent link="${parentLink}"/>
      <origin rpy="${origin_rpy}" xyz="${origin_xyz}"/>
  	</sensor>

    
  </xacro:macro>
</robot>