<robot xmlns:xacro="http://ros.org/wiki/xacro" name="valkyrie">

    <xacro:include filename="$(find val_description)/robots/common/xacro/generic_models.xacro" />
    <xacro:include filename="$(find val_description)/materials/materials.xacro" />
    <xacro:include filename="$(find val_description)/robots/common/xacro/common_bodies.xacro" />
    <xacro:include filename="$(find val_description)/robots/valkyrie_A/xacro/leg/leg.xacro" />

    <xacro:make_pelvis />
    <xacro:make_waist waist_root_link="${Pelvis_Link_Name}" />
    <xacro:make_head head_root_link="${TorsoRollLinkName}" />
    <xacro:make_arm prefix="Right" reflect="-1" arm_root_link="${TorsoRollLinkName}" />
    <xacro:make_thumb prefix="Right" reflect="-1" thumb_root_link="RightPalm"/>
    <xacro:make_index_finger prefix="Right" reflect="-1" index_finger_root_link="RightPalm"/>
    <xacro:make_middle_finger prefix="Right" reflect="-1" middle_finger_root_link="RightPalm"/>
    <xacro:make_pinky_finger prefix="Right" reflect="-1" pinky_finger_root_link="RightPalm"/>
    <xacro:make_arm prefix="Left" reflect="1" arm_root_link="${TorsoRollLinkName}" />
    <xacro:make_thumb prefix="Left" reflect="1" thumb_root_link="LeftPalm"/>
    <xacro:make_index_finger prefix="Left" reflect="1" index_finger_root_link="LeftPalm"/>
    <xacro:make_middle_finger prefix="Left" reflect="1" middle_finger_root_link="LeftPalm"/>
    <xacro:make_pinky_finger prefix="Left" reflect="1" pinky_finger_root_link="LeftPalm"/>
    <xacro:make_leg prefix="Right" reflect="-1" leg_root_link="${Pelvis_Link_Name}" />
    <xacro:make_leg prefix="Left" reflect="1" leg_root_link="${Pelvis_Link_Name}" />
    
    <xacro:v1_pelvis_sensors />
    <xacro:v1_leg_sensors prefix="Left" reflect="1" />
    <xacro:v1_leg_sensors prefix="Right" reflect="-1" />
    <xacro:include_multisense_sim />
    <xacro:v1_trunk_sensors/>
</robot>
